.services {
    position: relative;
    height: 120vh;
    width: 100%;
    text-align: center;
    padding: 4rem 0;
    background-color: var(--color-primary-l);
    // padding-bottom: 4rem;
    // margin-bottom: 4rem;
    &-content {
        // position: absolute;
        // text-align: center;
        &-title {
            font-size: 4rem;
            font-family: "Dancing Script", cursive;
        }
        &-heading {
            font-size: 4rem;
            color: black;
            margin: 2rem 0;
        }
    }
    &-cards {
        position: absolute;
        margin-top: 5rem;
        outline: 0.4rem solid var(--color-primary-m);
        border-radius: 1rem;
        padding: 3px;
        padding-bottom: 4rem;
        background-color: var(--color-primary);
        transition: all 0.3s ease-in-out;
        &:hover {
            box-shadow: 1rem 0.8rem 1rem var(--bg-color);
        }
        & img {
            border-radius: 1rem;
            // position: absolute;
        }
        & i {
            position: absolute;
            // margin-top: -2rem;
            display: inline-block;
            font-size: 3rem;
            background-color: var(--color-primary);
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            padding: 1rem;
            color: white;
            border-radius: 100%;
            box-shadow: 0.2rem 0.2rem 0.2rem var(--bg-color);
        }
        &-title {
            font-size: 2rem;
            width: 80%;
            // display: inline;
            // text-align: center;
            margin: 4rem auto;
            color: var(--color-quinary);
        }
        &-btn {
            padding: 8px 24px;
            background-color: var(--color-quinary);
            border-radius: 1rem;
            font-size: 1.5rem;
            color: var(--color-primary);
            margin-bottom: 2rem;
            border: 3px solid transparent;
            transition: all 0.3s ease-in-out;
            &:hover {
                border: 3px solid var(--color-quinary);
                background-color: var(--color-primary);
                color: var(--color-quinary);
            }
        }
    }
}
.row {
    width: 80%;
    margin: 0 auto;
    position: relative;
}
.card-1 {
    position: absolute;
    left: 0;
}
.card-2 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.card-3 {
    position: absolute;
    right: 0;
}
@media (max-width: 768px) {
    .services {
        height: 230vh;
    }
    .card-2 {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 45%;
        margin: 0 auto;
        top: 47rem;
    }
}
@media (max-width: 480px) {
    .services {
        height: auto;
    }
    .card-1 {
        position: relative;
        left: 0;
    }
    .card-2 {
        position: relative;
        left: 0%;
        transform: translateX(0%);
        top: 2.5rem;
        width: 100%;
    }
    .card-3 {
        position: relative;
        left: 0;
    }
    
}
